<div class="container">
  <div class="row">
    <div class="col-sm-3">

<%= flash[:notice] %>

<%= render 'temp/temp', user: @user, book: @book %>
</div>
    <div class="col-sm-9">

<h2>Book detail</h2>


<span><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: "jpg"  %></span>
<span><%= link_to "#{@user.name}", user_path(@user.id) %></span>
<span><%= link_to "#{@book.title}", book_path(@book.id) %></span>
<span><%= @book.body %></span>

<% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: '本当に消しますか？'} %>
<% end %>
</div>
</div>
</div>
